/* .iframe-container {
    width: 100%; 
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
} */

/* .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    transform-origin: top left;
    transform: scale(0.5);
    border: none;
} */

/* @media (max-width: 1200px) {
    .iframe-container {
        transform: scale(0.9);
        transform-origin: top left; 
    }
} */
/* @media (max-width: 1200px) {
    .iframe-container {
        transform: scale(0.9);
        transform-origin: top left; 
    }
} */

/* @media (max-width: 992px) {
    .iframe-container {
        transform: scale(0.8);
    }
} */

/* @media (max-width: 768px) {
    .iframe-container {
        transform: scale(0.7);
    }
} */

/* @media (max-width: 576px) {
    .iframe-container {
        transform: scale(0.6);
    }
} */



iframe {
    width: 100%;
    /* min-width: 50vw; */
    height: 23vw;
}

@media (max-width: 1342px) {
    iframe {
        width: 425px;
        height: 280px;
    }
}