.mainimage img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.focuslink {
    /* border: outset 2px dodgerblue;
    padding: 2px; */
    font-size: larger;
    font-weight: bold;
    color: mediumslateblue;
    text-decoration: none;
}

.focuslink:hover {
    color: mediumslateblue;
    text-decoration: underline;
}

.focuslink:visited {
    color: mediumslateblue;
}


@media (max-height: 1081px) {
    .mainimage img {
        width: 60%;
    }
}

@media (max-height: 770px) {
    .mainimage img {
        width: 60%;
    }
}

.link {
    background-color: #333;
    border-radius: 10px;
}

.contact-img {
    width: 50px;
}

#flink:hover {
    /* color: #222; */
    color: #fff;
    box-shadow: inset 35vw 0 0 0 mediumslateblue;
    /* background: linear-gradient(to right, mediumslateblue, dodgerblue); */
}